body{
    background-image: url("giphy.gif");
    background-size: cover;
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#main-logo{
    width: 170px;
}
#title{
    text-shadow: 0 0 4px black;
}
.bottom{
    font-size: 30px;
    color: white;
    padding-top: 500px;
}
.btn{
    color: #82a5ca;
    border: none;
    padding: 6px 12px;
    background: white;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}
.underline{
    border-bottom: 4px solid white;
}